<header class="header">
  <div class="header-container">
    <h1 class="header-title">Make your time running</h1>
  </div>
</header>
<main>
  <div class="container">
    <h2 class="header-title">Timer</h2>
    <div class="timer-wrapper">
      <div class="timer-minutes" #minutesText>0{{ minutes }} minutes :</div>
      <div class="timer-seconds" #secondsText>0{{ seconds }} seconds</div>
    </div>

    <div class="buttons-container">
      <button class="button" (click)="onStartClick($event)" type="button">
        Start
      </button>
      <button
        [ngClass]="timerPaused ? 'paused' : ''"
        class="button"
        type="button"
        [disabled]="timerPaused"
        #pauseButton
      >
        Pause
      </button>
      <button class="button" (click)="onResetClick($event)" type="button">
        Reset
      </button>
    </div>
  </div>
</main>